@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

html, body, button {

    font-family: 'PT Sans Narrow', sans-serif;

}

#block1 {
    margin-top: 50px;
}

#block1 .text-main {
    text-align: center;
}

#block2 {
    margin-top: 20px;
    height: 20%;
}


#block2 img {

    height: 180px;
}

img {
    max-height: 100%;
}

#top-menu{
    box-shadow: 1px 1px 3px gray;
}

#top-menu .tel {
    font-weight: bold; margin-right: 40px;
    margin-right: 40px;
}

#top-menu .navbar-nav .active {
    border-bottom: 2px solid #C50024;
}

#top-menu .navbar-nav .active a {
    color: red;
}

.content {
    min-height: 100%;

}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item .active
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

