@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

html, body {
    height: 100%;
}

html, body, button {

    font-family: 'PT Sans Narrow', sans-serif;


}

.content {
    height: 100%;
}


#block1 {
    margin-top: 50px;
}

#block1 .text-main {
    text-align: center;
}

#block2 {
    margin-top: 20px;
    height: 20%;
}

#block2 .container {
    margin-top: 10px; max-height: 200px;
}


#block2 img {

    height: 180px;
}

img {
    max-height: 100%;
}


#top-menu {
    box-shadow: 1px 1px 3px gray;
}



#top-menu .tel {
    font-weight: bold; margin-right: 40px;
    margin-right: 40px;
}

#top-menu .tel:hover {
color: red;
}

#top-menu .navbar-nav .active {
    border-bottom: 2px solid #C50024;
}

#top-menu .navbar-nav .active a {
    color:#C50024;
}

#top-menu .navbar-nav .active a:hover {
    color:red;
}

#top-menu .navbar-nav  a:hover {
    color:black;
}

.content {
    min-height: 100%;

}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item .active
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
    background-color: royalblue;
}