{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="servers, computers, laptops">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<body>
<header>
    <nav class="nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="" class="nav-link active"></a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"></a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"></a>
            </li>
        </ul>
    </nav>

</header>
<main class="content">

</main>
<footer></footer>

</body>
</html>