{% extends 'prices_template.html' %}
{% load staticfiles %}
{% block content_prices %}

<div class="container" id="prices">
<div class="row">
    <div class="col" style="text-align: center; margin-top: 20px"><p>Все Техника прошла полный цикл тестирования. Данные конфигурации не являются окончательными, вы можете заказать желаемую конфигурацию у нас!</p>
</div>
</div>
</div>
    <div class="container" style="text-align: center; background-image: url('{%static "images/server_back.jpg"  %}');">

    <div class="row pricerow ">
        {% for device in devices %}
        <div class="col-sm-4">

            <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ device.name}}</h5>
        <p class="card-text">{{ device.description}}</p>

          <div class="cardimg img-fluid"><img src="{{ device.image.url }}" alt="{{ device.image }}"></div>

        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>

 {% endfor %}
    </div>
    </div>

    <div>
    <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>

{% endblock %}