{% extends "wrapper.html" %}
{% load staticfiles %}

{% block content_prices %}

<div class="container" id="prices">
<div class="row">
    <div class="col" style="text-align: center; margin-top: 20px"><p>Все сервера прошли полный цикл тестирования. Данные конфигурации не являются окончательными, вы можете заказать желаемую конфигурацию у нас!</p>
</div>
</div>
</div>
    <div class="container" style="text-align: center; background-image: url('{%static "images/server_back.jpg"  %}');">
    <div class="row pricerow ">
        <div class="col-sm-4">

            <div class="card">
      <div class="card-body">
        <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
          <div class="cardimg img-fluid"> <img src="{% static "images/little_server.png" %}" alt=""></div>

        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
          <div class="cardimg img-fluid"><div class="cardimg"><img src="{% static "images/little_server.png" %}" alt=""></div></div>

        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
          <div class="cardimg img-fluid"><img src="{% static "images/little_server.png" %}" alt=""></div>


        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
    </div>
    <div class="row pricerow">
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
         <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!!!!!!.</p>
          <div class="cardimg img-fluid"><img src="{% static "images/little_server.png" %}" alt=""></div>


        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
         <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
          <div class="cardimg img-fluid"><img src="{% static "images/little_server.png" %}" alt=""></div>


        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
         <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
                    <div class="cardimg img-fluid"><img src="{% static "images/little_server.png" %}" alt=""></div>

        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
    </div>
    <div class="row pricerow">
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
         <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
                    <div class="cardimg img-fluid"><img src="{% static "images/little_server.png" %}" alt=""></div>

        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
         <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
                    <div class="cardimg"><img src="{% static "images/little_server.png" %}" alt=""></div>

        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
         <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
                    <div class="cardimg img-fluid"><img src="{% static "images/little_server.png" %}" alt=""></div>

        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
    </div>
    <div class="row pricerow" >
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
         <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
                    <div class="cardimg img-fluid"><img src="{% static "images/little_server.png" %}" alt=""></div>

        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
         <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
                    <div class="cardimg"><img src="{% static "images/little_server.png" %}" alt=""></div>

        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
        <div class="col-sm-4">

                    <div class="card">
      <div class="card-body">
         <h5 class="card-title">Сервер №</h5>
        <p class="card-text">Здесь скоро что то появится!.</p>
            <div class="cardimg img-fluid"><img src="{% static "images/little_server.png" %}" alt=""></div>
          
        <a href="#" class="btn btn-outline-primary">Подробней</a>
      </div>
    </div>

        </div>
    </div>
    </div>

{% endblock %}